# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output files
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables and firmware binaries
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
*.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil uVision build output folders
/Objects/
/Build/

# VSCode workspace settings (optional)
.vscode/

# Miscellaneous temporary files
*~
*.swp
